<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            {{{styles}}}
        </style>

        <script src="https://unpkg.com/echarts@4.9.0/dist/echarts-en.min.js"></script>
    </head>
    <body>
        <div id="chart" style="width: 100%;height:100%;"></div>
        <script>
            window.domTree = {{{data}}};

            {{{script}}}
        </script>
    </body>
</html>
